# --- For-Bot-Working --------- #
git+https://github.com/KurimuzonAkuma/pyrogram
TgCrypto
pytz
aiohttp
asyncio
pyromod==1.5
motor==2.5.1
# --- For-Database ------------ #
pymongo
dnspython
cloudscraper
gunicorn==20.1.0
werkzeug==2.0.2
Flask
